.buttonLabel {
  color: #fff;
  font-size: medium;
}

.button {
  border: 2px solid #015e5e;
  padding: 15px 25px;
  background-color: #015e5e;
  border-radius: 6px;
}

.button:hover {
  background-color: #008080;
  border: 2px solid #008080;
}

.button:focus {
  outline: 2px solid #015e5e;
}
