.organizationsList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  place-items: center center;
}

[data-theme='dark'] .organizationsList {
  background-color: var(--ifm-color-secondary-dark);
  border-radius: var(--ifm-code-border-radius);
}

.organizationsList li {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0.6rem;
}

.organizationsList li a {
  text-decoration: none;
}

.organizationsList li a img {
  transition: all 0.5s;
}

.organizationsList .using img {
  max-width: 140px;
}

.organizationsList .sponsoring_tier_3 img {
  max-width: 140px;
}

.organizationsList .sponsoring_tier_4 img {
  max-width: 160px;
}

.organizationsList li a:hover img {
  transform: scale(1.1);
}
