.organizationsList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  justify-items: center;
}

[data-theme='dark'] .organizationsList {
  background-color: var(--ifm-color-secondary-dark);
  border-radius: var(--ifm-code-border-radius);
}

.organizationsList li {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0.6rem;
}

.organizationsList li a {
  text-decoration: none;
}

.organizationsList li a img {
  max-height: 60px;
  max-width: 160px;
  filter: grayscale(100%);
  transition: all 0.5s;
}

.organizationsList li a:hover img {
  filter: none;
}
