/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero {
  background: #000 0% 0% repeat;
  background-size: 54px;
  padding: 3rem 0
}

.heroProjectTagline {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 1px 1px black;
}

.hero .heroLogo {
  max-width: 320px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
