.teamImg {
  width: 96px;
  height: 96px;
  clip-path: polygon(
    59.9998% 92.3205%,
    56.8402% 93.7939%,
    53.4728% 94.6962%,
    49.9998% 95%,
    46.5269% 94.6961%,
    43.1594% 93.7938%,
    40% 92.3205%,
    18.3493% 79.8203%,
    15.4935% 77.8208%,
    13.0284% 75.3556%,
    11.0288% 72.4999%,
    9.5554% 69.3403%,
    8.6531% 65.9728%,
    8.3493% 62.4998%,
    8.3494% 37.4998%,
    8.6533% 34.0269%,
    9.5556% 30.6595%,
    11.029% 27.4999%,
    13.0286% 24.6441%,
    15.4937% 22.179%,
    18.3494% 20.1793%,
    40.0002% 7.6795%,
    43.1598% 6.2061%,
    46.5272% 5.3038%,
    50.0002% 5%,
    53.4731% 5.3039%,
    56.8406% 6.2062%,
    60.0002% 7.6795%,
    81.6508% 20.1796%,
    84.5065% 22.1792%,
    86.9716% 24.6444%,
    88.9712% 27.5001%,
    90.4446% 30.6597%,
    91.3468% 34.0272%,
    91.6507% 37.5002%,
    91.6506% 62.5002%,
    91.3467% 65.9731%,
    90.4444% 69.3405%,
    88.9711% 72.5001%,
    86.9714% 75.3559%,
    84.5063% 77.821%,
    81.6505% 79.8206%
  );
}

.teamMember {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.teamMember p {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.6rem;
}

.teamMember .linkGithub:hover {
  color: #333;
}

[data-theme='dark'] .teamMember .linkGithub:hover {
  color: #fff;
}

.teamMember .linkNpm:hover {
  color: #cb3837;
}

.teamMember .linkX:hover {
  color: #eff3f480;
}
