.organisationsList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  place-items: center center;
}

[data-theme='dark'] .organisationsList {
  background-color: var(--ifm-color-secondary-dark);
  border-radius: var(--ifm-code-border-radius);
}

.organisationsList li {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0.6rem;
}

.organisationsList li a {
  text-decoration: none;
}

.organisationsList li a img {
  filter: grayscale(100%);
  transition: all 0.5s;
}

.organisationsList .using img {
  max-width: 140px;
}

.organisationsList .sponsoring_tier_3 img {
  max-width: 140px;
}

.organisationsList .sponsoring_tier_4 img {
  max-width: 160px;
}

.organisationsList li a:hover img {
  filter: none;
}
