/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.responsiveContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .responsiveContainer {
    display: block;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.toggleSwitch input[type='checkbox'] {
  display: none;
}

.toggleSwitch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}

.toggleSwitch .switch::before {
  position: absolute;
  content: '';
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: #aaa;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggleSwitch input[type='checkbox']:checked + .switch::before {
  transform: translateX(25px);
  background-color: #69c;
}

.toggleSwitch input[type='checkbox']:checked + .switch {
  background-color: #369;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
