:root {
  --fty-box-primary: var(--ifm-color-secondary-lightest);
}

[data-theme='dark'] {
  --fty-box-primary: var(--ifm-color-secondary-darkest);
}

.box {
  background-color: var(--ifm-card-background-color);
  border-radius: 6px;
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  margin: 1.25rem;
}

[data-theme='dark'] .box {
  background-color: var(--ifm-card-background-color);
  border-radius: 6px;
  color: #f9f6f6;
  display: block;
  padding: 1.25rem;
  margin: 1.25rem;
}

.level {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.level-left {
  align-items: center;
  justify-content: flex-start;
}

.level-right {
  align-items: center;
  justify-content: flex-end;
}

.level-left,
.level-right {
  flex: 0 0 auto;
}

.progress {
  border: none;
  border-radius: 9999px;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
