name: Preview

on:
  # pull-request means to deploy preview
  # we need to access the environment secrets
  pull_request_target:

permissions:
  contents: read

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    environment:
      name: sandbox
    env:
      BASE_URL: '/'
    steps:
      # we set the correct repository and reference sha for PR preview
      - name: Checkout PR
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          cache: npm
          check-latest: true
          node-version: 22
          node-version-file: '.nvmrc'

      - name: Install Packages
        run: npm ci --ignore-scripts

      - name: Run Linting
        run: npm run lint

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Get latest Fastify tag
        id: latest-fastify
        uses: oprypin/find-latest-tag@dd2729fe78b0bb55523ae2b2a310c6773a652bd1 # v1.1.2
        with:
          repository: fastify/fastify
          releases-only: true
      - run: echo "Fastify is at version ${{ steps.latest-fastify.outputs.tag }}"

      - name: Cache Fastify documentation
        id: release-cache
        uses: actions/cache@v5
        with:
          path: |
            scripts/releases
            scripts/releases.tag
          key: ${{ steps.latest-fastify.outputs.tag }}-release-cache

      # Here we need the token to download the `gh` archive
      - name: Build website
        run: npm run build:website
        env:
          GH_TOKEN: ${{ github.token }}
          SKIP_DOWNLOADS: ${{ steps.release-cache.outputs.cache-hit }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './build'

  deploy-to-staging:
    needs:
      - build-and-upload
    concurrency:
      group: ${{ github.ref_name }}-staging
      cancel-in-progress: true
    env:
      BASE_URL: ''
    permissions:
      pull-requests: write
      contents: write
    environment:
      name: staging
      url: ${{ steps.deployment.outputs.NETLIFY_URL }}
    outputs:
      deployment_url: ${{ steps.deployment.outputs.NETLIFY_URL }}
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: github-pages
          path: website

      - name: Extract artifact
        run: tar -xvf artifact.tar
        working-directory: website
        shell: 'bash'

      - name: Clean up before deploy
        run: rm artifact.tar
        working-directory: website
        shell: 'bash'

      - name: Display structure of downloaded files
        run: ls -R
      - name: Deploy to Netlify
        uses: netlify/actions/cli@3185065f4ab2f6df6f2ef41ee013626e1c02a426 # master
        id: deployment
        with:
          # https://cli.netlify.com/commands/deploy/
          args: deploy --json --dir="./website" --message="Deploy from branch ${{ github.ref }}"
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
